<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">


    <!-- 加载数据库连接池的配置文件 -->
    <util:properties id="dbConfig"
                     location="classpath:db.properties"/>

    <!-- 数据源配置 -->
    <import resource="spring-mybatis.xml"/>

    <!--对所有包进行扫描，完成bean创建和自动依赖注入(排除controller) -->
    <context:component-scan base-package="org.bj.ldyh">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
</beans>